body {
  
  margin: 0;
  font-family:  'Ramadan', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Ramadan',
    monospace;
}

@font-face {
  font-family: 'Ramadan';
  src: local('Ramadan'), url(./fonts/Ramadan.ttf) format('truetype');
  font-weight: normal;
}